@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Balance of Ethereum Foundation's account in Wei: @ViewBag.BalanceInWei</p>
    <p>Balance of Ethereum Foundation's account in Ether: @ViewBag.BalanceInEther</p>
</div>


                            
